.wrapper {
    display: flex;
    gap: 5px;
}

.star {
    position: relative;
    width: 50px;
    height: 50px;
}

.star img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.star-fill {
    opacity: 0;
    transform: scale(90%);
}

.star.is-filled .star-fill {
    opacity: 1;
}