/* Пиши стили тут */
.star1 {
    width: 100px;
    background-image: url("img/star-empty.svg");
}
.star1:hover {
    background-image: url("img/star.svg");
}

.star2 {
    width: 100px;
    background-image: url("img/star-empty.svg");
}
.star2:hover {
    background-image: url("img/star.svg");
    .star1 {
        background-image: url("img/star.svg");
    }
}